<%- include('header') -%>

<p>Mes QCMS disponibles</p>
<ul>
    <% for (let qcm of qcms) { %>
        <li><a href="/qcms/<%= qcm.id %>"><%= qcm.name %></a> (<%= qcm.subject %>) : <%= qcm.nbpoints %> points</li>
    <% } %>
</ul>

<%- include('footer') -%>
