<%- include('header') -%>

<p>Mes QCMS disponibles</p>
<ul>
    <% for (let qcm of qcms) { %>
        <li>
            <%= qcm.name %> (<%= qcm.subject %>) : <%= qcm.nbpoints %> points
            <br>
            <a href="/qcms/<%= qcm.id %>">Voir les questions</a>
            <br>
            <br>
        </li>
    <% } %>
</ul>

<a href="/qcms/new">Créer un nouveau QCM</a>

<%- include('footer') -%>
